<!DOCTYPE html>
<html>

  <%- include('head'); %>

  <body>
    
    <%- include('header'); %>

    <h2 id="mytickets">My tickets:</h2>   
    
    <div class="container-fluid ">

        <div class="col-12 col-sm-10 tab-tickets">

            <table class="table bg-white ">
                <thead>
                <tr>
                    <th scope="col">N°</th>
                    <th scope="col">Journey</th>
                    <th scope="col">Date</th>
                    <th scope="col">Departure time</th>
                    <th scope="col">Price</th>
                </tr>
                </thead>
                <tbody>

                    <%
                    let totalCmd = 0;
                    for(var i = 0; i<result.length; i++) {
                        totalCmd = result[i].price + totalCmd;
                    %>
                        <tr>
                            <th scope="row"><%=i%></th>
                            <td><%= result[i].fromcity %> / <%= result[i].tocity %></td>
                            <td><%= result[i].date%></td>
                            <td><%= result[i].hour %></td>
                            <td><%= result[i].price %> €</td>
                        </tr>
                
                    <% } %>
                
                <tr class="table-danger">
                    <th scope="row" >Total</th>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td> <%= totalCmd%> €</td>
                </tr>

                
                </tbody>
                
            </table>
            

            <div class="row">
                <div class="col-12 text-right" >
                    <button class="btn btn-danger btn-confirm" id='confirm'>Confirm</button>
                </div>
            </div>

        </div>

    </div> <!-- close container -->
    <%- include('footer'); %>  
  </body>
</html>
