<!DOCTYPE html>
<html>

  <%- include('head'); %>

  <body>
    
    <%- include('header'); %>

    <h2 id="mytickets">My last trips:</h2>   
    
    <div class="container-fluid ">

        <div class="col-12 col-sm-10 tab-tickets">

            <table class="table bg-white ">
              <thead>
                <tr>
                    <th scope="col">Date</th>
                    <th scope="col">Journey</th>
                    <th scope="col">Departure time</th>
                    <th scope="col">Price</th>
                </tr>
              </thead>
              <tbody>
                
                <% for (var i=0; i<mytrips.length; i++) {
                %>
                    <tr>
                        <td><%=stringDate(mytrips[i].date) %></td>
                        <td><%=mytrips[i].departure %> / <%=mytrips[i].arrival %></td>
                        <td><%=mytrips[i].departureTime %></td>
                        <td><%=mytrips[i].price%>&nbsp;€</td>
                    </tr>

                <% } %>
               </tbody>
                
            </table>
            

            <div class="row">
                <div class="col-12 text-right" >
                    <a href="/index"><button class="btn btn-danger btn-paiement" id='backhome'>Home</button></a>
                </div>
            </div>

        </div>

    </div> <!-- close container -->

    <%- include('footer'); %>
     
  </body>
</html>
